/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/01/2016, 18:33:00
    Author     : Dijalma Silva <dijalmacz@gmail.com>
*/

*{
    margin: 0;
    padding: 0
}

#logoInicio {
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

#logoHome {
    width: 130px;
    height: 130px;
    border-radius: 5px
}

.menuSistema {
    padding: 10px;
    width: 29%;
    height: 130px;
}

.menuUsuario {
    position: absolute;
    padding: 10px;
    top: 0px;
    right: 0px;
    width: 25%;
    height: 130px;
}

.img-perfil__home {
    width: 140px;
    height: 120px;
    margin: 10px;
    border-radius: 5px;
}

.conteudo {
    margin: 20px;
    border-radius: 4px;
}

.conjunto {
    text-align: center;
    margin: 0 auto;
}

.funcionalidades {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.funcionalidades h6 {
    margin-top: 8px;
}

.img-funcionalidade{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.crud-user{
    background: #cccccc;
    width: 100%;
    height: 60px;
}

.margin{
    margin: 12px !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

ul li {
    display: inline-block
}

.botoes-fechar{
    bottom: 0;
}

.img-perfil__carregar {
    width: 200px;
    height: 180px;
    border-radius: 8px;
}

.breadcrumb{
    margin-top: 20px;
    height: 20px;
    margin-left: 20px;
}

.breadcrumb label{
    font-size: 20px;
}

.breadcrumb a{
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.swicth-center{
    margin: 0 auto 10px 39%;
    width: 50px;
    text-align: center !important;
}

#loading{
    margin: 5px;
    top: 15px;
}

.calendario {
    margin: 20px;
}
